{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href = {% static 'content/style_detailedStation.css' %}>
        <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7.1/turf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class = "detailedStation-grid-container">
            <div id="selectors">
                <p>Please select a variable:</p>
                <div id="var_select">
                    {% for standard in standards %}
                        <div class="pedon-option">
                            <input class="stan_radio" type="radio" id="stan_{{standard.name}}" name="stan2avg" value="{{standard.name}}" {% if forloop.first %}checked{% endif %}>
                            <label for="stan_{{standard.name}}">{{standard.name}}</label><br>
                        </div>
                    {% endfor %}
                </div>
                <p>Please select a pedon:</p>
                <div id="pedon_select">
                    {% for pedon in pedons %}
                        <div class="pedon-option">
                            <input class="pedon_radio" type="radio" id="pedon_{{pedon.name}}_{{pedon.pedon_id}}_{{pedon.source.name}}" name="pedon2avg" value="{{pedon.name}}_{{pedon.pedon_id}}_{{pedon.site.site_id}}_{{pedon.site.source.name}}">
                            <label for="pedon_{{pedon.name}}_{{pedon.pedon_id}}_{{pedon.site.source.name}}">{{pedon.name}}</label><br>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
            <div id = "graph">
                <canvas id="soilLayerDataLine"></canvas>
            </div>
        </div>
        <script>
            const spUrl = "{% url 'base:ajax_spline_line' %}";
        </script>
        <script src = {% static "scripts/graph_handling.js" %}></script>
    </body>
</html>