{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link rel="stylesheet" href = {% static 'content/style_detailedStation.css' %}>
        <link rel="stylesheet" href = {% static 'content/style_spinner.css' %}>
        <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7.1/turf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <div class = "detailedStation-grid-container">
            <div id="selectors">
                <p>Please select a variable:</p>
                <div id="standard_select">
                    {% for standard in standards %}
                        <div class="pedon-option">
                            <input class="stan_radio" type="radio" id="stan_{{standard.name}}" name="stan2avg" value="{{standard.name}}" {% if forloop.first %}checked{% endif %}>
                            <label for="stan_{{standard.name}}">{{standard.name}}</label><br>
                        </div>
                    {% endfor %}
                </div>
                <p>Please select a pedon:</p>
                <div id="pedon_select">
                    <div class="spinner">
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                        <span class="dot">.</span>
                    </div>
                    <p>Please wait...</p>
                </div>
            </div>
            
            <div id = "graph">
                <canvas id="soilLayerDataLine"></canvas>
            </div>
            <div id = "integral_getter">
                <label for = "integral_lower_bound">Lower: </label>
                <input type = "number" class = "integral_bounds" id = "integral_lower_bound">
                <label for = "integral_upper_bound">Upper: </label>
                <input type = "number" class = "integral_bounds" id = "integral_upper_bound">
                <div id = "integral_output">Area: 1,000,0000 percent</div>
                <button id="download" onclick="downloadData(event)">Download</button>
            </div>
        </div>
        <script>
            const spUrl = "{% url 'base:ajax_spline_line' %}";
            const arUrl = "{% url 'base:ajax_spline_area' %}";
            const pdUrl = "{% url 'base:ajax_pedon_list' %}";
            const dlUrl = "{% url 'base:ajax_download_spline' %}";
        </script>
        <script src = {% static "scripts/graph_handling.js" %}></script>
    </body>
</html>